.container {
    max-width: 100%;
    height: 100%;
    // background-image: url('../../../assets/images/20729794lpw-20729998-article-lamborghini-jpg_7343426_660x281.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // margin: 0 0;
    background-color: rgba(62, 180, 180, 0.089);
}

.sign-container {
    padding-left: 100px;
    padding-top: 100px;
}

.form-grp {
    margin: 20px;
}