<div class="row">
    <div class="col-2">
        <div class="d-fix">
            <div class="profil-info">
                <div>
                    <img class="img-profil" [src]="user.image" alt="">
                </div>
                <h3 class="name-profil">{{user.name}}</h3>
            </div>

            <div>
                <button mat-button routerLink="materiel-form">
                    Ajouter un nouveau materiel
                </button>
            </div>

            <div>
                <button mat-button routerLink="materiels-list">
                    Listes des materiels
                </button>
            </div>

            <div>
                <button mat-button routerLink="panier">
                    Votre panier
                </button>
            </div>
        </div>
    </div>

    <div class="col-7 separator">
        <div *ngFor="let materiel of materiels; index as i">
            <div>
                <h2>Un {{materiel.type}} de marque {{materiel.mark}}</h2>
                <img [src]="materiel.imgUrl">
                <p>Prix : {{materiel.price}}£</p>
            </div>
            <div>
                <p>Description : {{materiel.description}}</p>
                <p>Nombre aux stocks : {{materiel.nbrInStock}} </p>
                <button mat-raised-button color="accent" (click)="addPanier(materiel._id)">
                    <!-- <span>Ajouter au panier</span> -->
                    <mat-icon>
                        add_shopping_cart
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="authStatus" class="col-3 br">
        <div class="d-fix">
            <h2 class="text-center">Votre panier</h2>
            <app-panier></app-panier>
        </div>
    </div>
</div>