<div class="container-sign">
    <div class="content-sign">
        <form [formGroup]="userSignin" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">email</label>
                <br>
                <input type="text" id="email" formControlName="email">
                <mat-icon>check</mat-icon>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" formControlName="password">
            </div>

            <button class="btn-submit" mat-flat-button color="accent" (click)="onSignIn()">Connexion</button>

        </form>
    </div>
</div>